/* General CSS*/
body {
    background-color: #ffffff;
    color: #01172c;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: 150px;
}

a {
    text-decoration: none;
}



/*header*/
.header-section {
    position: fixed;
    top: 0;
    padding-top: 20px;
    height: 80px;
    background-color: #fffcfc;
    width: 100%;
}

#nav-check{
    display: none;
}



.header-section-logo-img{
    margin-top: 10px;
    margin-left: 50px;
}

.header-section-nav-ul {
    padding-left: 0px;
    float: right;
    margin-right: 50px;
}

.header-section-nav-ul-li {
    display: inline-block;
    margin: 0 9px;
}

.header-section-nav-ul-li-a {
    font-family: "Roboto",sans-serif;
    color: #08121b;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.header-section-nav-ul-li-a:hover,
.active{
    color: #062249;
    transition: .5s;
}

.header-container-nav-toggler span {
    margin: 10px;
}

.header-section-nav-ul-li-contact-btn{
    background-color: #ffca3d;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 15px;
    border: none;
}

.header-section-nav-toggler{
    color: #ffffff;
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #0a2b5e;
    display: none;
}






/*Welcome Text and Image Section*/
.welcome-section {
    margin-bottom: 130px;
    z-index: -100;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    background-image: url('./../img/backgroundImg.png');
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-section-content-text {
    text-align: center;
    color: #0a2b5e;
    margin-bottom: 100px;
}

.welcome-section-content-text-h1 {
    font-weight: 1000;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 70px;
}

.welcome-section-content-text-h1 span {
    background-image: linear-gradient(to right, transparent 1%, #ffca3d 1%, #ffca3d 98%, transparent 95%);
    background-size: 100% 15%;
    background-position: 0 80%;
    background-repeat: repeat-x;
}

.welcome-section-content-text-p {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #0e2e61;
    margin-bottom: 60px;
}

.welcome-section-content-text-btn {
    background: linear-gradient(to bottom, #0a1220 2%, #0a1b41 100%);
    padding: 25px 40px;
    font-weight: bold;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    color: #fffcfc;
    border-radius: 5px;
    box-shadow: 1px 4px 12px rgba(94, 28, 68, .15);
    margin-bottom: 3px;
}

.welcome-section-content-car-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



/*Upcomming Event Section*/

.up-event-section {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 130px;
}

.up-event-section-text {
    text-align: center;
}

.up-event-section-text p {
    color: #87a1fb;
}

.up-event-section-text h1 {
    font-size: 60px;
    font-weight: 1000;
    color: #0a2b5e;
}

.up-event-section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.up-event-section-cards-card {
    width: 25%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.up-event-section-cards-card img {
    width: 100%;
}

.up-event-section-cards-card-content {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.up-event-section-cards-card-content h3,
.up-event-section-cards-card-content h6 {
    width: 50%;
    color: #0a2b5e;
}

.up-event-section-cards-card-content h4,
.up-event-section-cards-card-content h5 {
    width: 50%;
    color: #87a1fb;
}


/*About Section*/
.about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
    justify-content: space-around;
}

.about-section-img {
    width: 40%;
    height: 40%;
}

.about-section-text {
    width: 30%;
    text-align: left;
    color: #0a2b5e;
    margin: 2%;
}

.about-section-text-p {
    color: #87a1fb;
    line-height: 2.5em;
}

.about-section-text-p2 {
    color: #a7a7a7;
    line-height: 2.5em;
}

.about-section-text-btn {
    color: #ffffff;
    font-size: large;
    background-color: #ffca3d;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}




/*review Section*/
.review-section {
    display: flex;
    color: #ffffff;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
    background: linear-gradient(-45deg, rgba(186, 34, 195, 1) 0%, rgba(45, 212, 253, 1) 100%);
    text-align: center;
}

.review-section-content-text{
    width: 50%;
    margin-left: 25%;
    margin-left: 25%;
    text-align: center;
}

.review-section-content-avatar-div{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
}

.review-section-content-avatar-div-img{
    width: fit-content;
    height: fit-content;
}

.review-section-content-avatar-text{
    margin-left: 10px;
}


/*video Section*/
.video-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    z-index: -100;
}

.video-section-content-img {
    width: 80%;
    height: 80%;
}

.video-section-content-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fffcfc;
    font-weight: bolder;
    word-spacing: 2px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.video-section-content-text-icon {
    font-size: 96px;
}


/*Insta Section*/
.insta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: row nowrap;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}




/*Footer Section*/
.footer-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(45deg, rgb(2, 57, 129) 0%, rgb(8, 15, 119) 100%);
}

.footer-section-content {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: space-around;
    color: #ffffff;
    margin-bottom: 5em;

}

.footer-section-col {
    display: flex;
    width: 20%;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1em;
}

.footer-section-cols-p {
    color: #7580ab;
    font-size: 14px;
}

.footer-section-copyright {
    text-align: center;
}

.footer-section-col-1-img {
    width: 40%;
    margin-bottom: 20px;
}

.footer-section-col-1-icons {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section-cols-p-contact {
    color: #fcd41c;
}






/*For 1020px width size and below*/
@media only screen and (max-width: 1020px) {
    .header-section-nav-toggler{
        display: block;
    }


    .header-section-nav-ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #170750;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .header-section-nav-ul-li{
        display: block;
        margin: 0;
        line-height: 30px;
        padding: 25px 0;
    }

    .header-section-nav-ul-li:hover{
        background: #a2a0db;
    }

    .header-section-nav-ul-li-a{
        color: #fffcfc;
        font-size: 16px;
    }

    #nav-check:checked~ul {
        left: 0;
    }


    .welcome-section-content-text-h1 {
        font-weight: 600;
        margin-top: 60px;
        font-size: 30px;
    }

    .welcome-section-content-text-h1 span {
        font-size: 25px;
    }

    .up-event-section-cards-card{
        width: 40%;
    }

    .card-3{
        display: none;
    }

    
    .about-section {
        flex-direction: column;
        width: 100%;
    }

    .about-section-img {
        width: 100%;
        height: 100%;
    }

    .about-section-text {
        width: 98%;
        text-align: left;
        margin: 2%;
    }

    .up-event-section-cards-card{
        width: fit-content;
    }

    .about-section,
    .review-section,
    .video-section {
        margin-bottom: 70px;
    }

    .review-section {
        font-size: 50%;
    }

    .footer-section-col {
        width: 50%;
    }

    .footer-section-cols-p {
        font-size: .7em;
    }

    .video-section-content-text {
        font-size: 30px;
    }

    .video-section-content-text-icon {
        font-size: 48px;
    }
}


/*For 640px width size and below*/
@media only screen and (max-width: 640px) {

    .header-section{
        padding-top: 0px;
    }

    .header-section-nav-ul{
        top: 60px;
    }
    
    .header-section-nav-toggler{
        margin-right: 20px;
    }


    .header-section-logo-img{
        margin-left: 20px;
        width: fit-content;
    }

    .welcome-section{
        margin-bottom: 70px;
    }

    .welcome-section-content-text-h1 {
        font-weight: 700;
        font-size: 25px;
    }

    .welcome-section-content-text-h1 span {
        font-size: 20px;
    }

    .welcome-section-content-text-p{
        font-size: 13px;
        font-weight: 700;
    }

    .up-event-section-text h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .up-event-section-cards-card{
        width: 90%;
    }

    .card-2,
    .card-3{
        display: none;
    }

    .about-section-text-h{
        font-weight: 700;
        font-size: 25px;
    }

    .review-section-content-text{
        width: 80%;
        margin-left: 10%;
        margin-left: 10%;
    }

    .review-section-content {
        font-size: 10px;
    }

    .review-section-content h1 {
        font-size: 15px;
    }

    .video-section-content-text {
        font-size: 20px;
        font-weight: bold;
    }

    .video-section-content-img {
        width: 90%;
        height: 90%;
    }

    .footer-section-col {
        width: 100%;
    }

    .video-section-content-text {
        font-size: 20px;
    }

    .video-section-content-text-icon {
        font-size: 36px;
    }

    .insta-section-img{
        width: 50%;
    }

    .footer-section-content{
        margin-bottom: 2em;
    }

    .footer-section-copyright{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}


/*For 400px width size and below*/
@media only screen and (max-width: 400px) {


    .welcome-section-content-car-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .review-section-content {
        font-size: 5px;
    }

    .review-section-content h1 {
        font-size: 10px;
    }

    .video-section-content-text {
        font-size: 15px;
    }

}



/*For 300px width size and below*/
@media only screen and (max-width: 300px) {
    .header-section-logo-img{
        margin-left: 10px;
        width: 50%;
    }

    .welcome-section-content-text-h1 {
        font-weight: 700;
        font-size: 15px;
    }

    .welcome-section-content-text-h1 span {
        font-size: 15px;
    }

    .welcome-section-content-text-p{
        font-size: 10px;
        font-weight: 700;
    }

    .up-event-section-text h1 {
        font-size: 15px;
        font-weight: 700;
    }

}


/* CSS for Screen Size 1900 and Above */
@media only screen and (min-width: 1920px) {

    .review-section{
        margin-top: 100px;
        padding-top: 100px;
    }

    .video-section-content-img,
    .welcome-section-content-car-img,
    .about-section-img,
    .up-event-section-cards-card {
        width: fit-content;
    }

    .video-section-content-text {
        font-size: 30px;
    }

    .video-section-content-text-icon {
        font-size: 48px;
    }
}